*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html{
    background: rgb(225,225, 225);

}

.center{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{clear: both;}

header{margin-top: 10px;}


.logo{
    float: left;
}

.logo img{max-width: 100%;}


.menu{
    margin-top: 20px;
    float: right;
}

.menu a{
    text-decoration: none;
    color: black;
    margin: 0 15px;
    font-size: 13px;
}


.menu a.btn-cta{
    background: #30851d;
    color: white;
    padding:8px 25px;
    font-size: 16px;
}

section.topo{
    margin-top: 20px;
    padding: 30px;
}

.texto-topo{
    margin-top: 50px;
    float: left;
    width: 50%;
    color: #11223f;
    padding: 0 20px;
}

.texto-topo h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.texto-topo p{
    font-size: 20px;

}

.img-topo{
    float: left;
    width: 50%;
}

.img-topo img{
    max-width: 100%;
}


/*DEPOIMENTOS*/

section.depoimentos{
    padding: 30px 0;
}

section.depoimentos > .center{
    display: flex;
    flex-wrap: wrap;
}



.depoimento-single{
    background-color: white;
    background-image: url('../images/quote.png');
    background-size: 55px 48px;
    background-position: right top;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    width: 40%;
    margin-right: 10%;
    padding: 50px;
}

.depoimento-single p{
    font-weight: bold;
    color: black;
    font-size: 13px;
}

.depoimento-single span{
    color: green;
    font-weight: bold;
    font-size: 11px;
}

section.sobre{
    padding: 20px 0;
}

.titulo-sobre h2{
    color: black;
    padding-bottom: 20px;
    border-bottom: 3px solid #2bb222;
    display: inline-block;
    
}


.sobre-single{
    float: left;
    width: 33.3%;
    padding: 20px;
}

.titulo-single{
   display: flex;
}

.titulo-single i{
    background: #2bb222;
    width: 20%;
    font-size: 22px;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.titulo-single h3{
    color: black;
    background-color: #f1f6f1;
    width: 80%;
    padding: 20px 30px;
}

.sobre-conteudo{
    background: white;
    padding: 20px;
    color: black;
}


@media screen and (max-width:768px){

    .sobre-single{
        width: 100%;
    }

    .depoimento-single{
        width: 100%;
        margin-right: 0;
    }

    .texto-topo,.img-topo{
        width: 100%;
        margin-bottom: 20px;
    }
}

footer{
    background-color: #effeee;
    color: black;
    text-align: center;
    padding: 30px 0;
}

footer i{
    font-size: 16px;
    margin: 0 10px;
}

footer a{
    text-decoration: none;
    color: black;
}


@media screen and (max-width:580px) {
    .menu .btn-cta{
        display: block;
        margin-top: 10px;
    }    
}